<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <!-- Possibile [720p 1080p SD] -->
  <quality>1080p</quality>
  <!-- Possible [BluRay DVD other]-->
  <source>BluRay</source>
  <!-- Possible [True False]-->
  <series>False</series>
  <!-- setting to list all films and series not sortet by quality etc[True False]-->
  <listall>False</listall>
</Settings>

